MWDF Project/Dwarf Fortress/raw/backup
MWDF Project/Dwarf Fortress/gamelog.txt
MWDF Project/Dwarf Fortress/stderr.log
MWDF Project/Dwarf Fortress/stderr.txt
MWDF Project/Dwarf Fortress/stdout.txt
MWDF Project/Dwarf Fortress/data/save/*.*
